{if $favicon->isSvg}
  <link rel="icon" type="image/svg+xml" href="{$basePath}/images/favicon/favicon.svg">
{else}
  <link rel="apple-touch-icon" sizes="120x120" href="{$basePath}/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/images/favicon/favicon-16x16.png">
  <link rel="mask-icon" href="{$basePath}/images/favicon/safari-pinned-tab.svg" color="{$favicon->safaryTileColor}">
  <link rel="shortcut icon" href="{$basePath}/images/favicon/favicon.ico">
{/if}

<link rel="manifest" href="{$basePath}/images/favicon/site.webmanifest">
<meta name="msapplication-TileColor" content="{$favicon->msTileColor}">
<meta name="msapplication-config" content="{$basePath}/images/favicon/browserconfig.xml">
<meta name="theme-color" content="{$favicon->themeColor}">
