<meta name="twitter:card" content="summary">
<meta property="fb:app_id" content="{$og->fbAppId}" n:if="$og->fbAppId">
<meta property="og:type" content="{$og->type}" n:if="$og->type">
<meta property="og:url" content="{$og->url}" n:if="$og->url">
<meta property="og:title" content="{$og->title}" n:if="$og->title">
<meta property="og:description" content="{$og->description}" n:if="$og->description">
<meta property="og:image" content="{$baseUrl . $og->image}" n:if="$og->image">
