<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="author" content="{$author}" n:if="$author">
<meta name="robots" content="{$index}, {$follow}">
<meta name="description" content="{$description}" n:if="$description">

<title>{$title}</title>

{include @favicon.latte}

<style n:if="$criticalCss">
  {$criticalCss|noescape}
</style>

{foreach $styles as $style}
  <link rel="stylesheet" type="text/css" href="{$style}">
{/foreach}

{foreach $scripts as $script}
  <script src="{$script}"></script>
{/foreach}

{if $useAos}
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
{/if}

{if $gtmId}
  <script>
  (function(w,d,s,l,i){ w[l]=w[l]||[];w[l].push({ 'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer', {$gtmId});
  </script>
{/if}

{if $richSnippet->show}
  {include @richSnippet.latte}
{/if}

{include @openGraph.latte}

<script>window.MSInputMethodContext && document.documentMode && document.write('<script src=" ' + {$basePath} + '/js/customPropertiesPolyfill.js"><\x2fscript>');</script>
